@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Manrope", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.section__height {
  height: calc(100vh - 4rem);
}


@layer components{
  .btn__primary {
    @apply bg-primary active:brightness-90 px-4 py-2 text-white rounded font-medium hover:shadow-xl hover:brightness-125 duration-200 ease-out
  }
  .btn__secondary-outline {
    @apply border-secondary text-secondary font-medium border px-4 py-2 rounded hover:shadow-xl duration-200 ease-out;
  }
  .tag__simple {
    @apply rounded border py-2 px-3 hover:bg-gray-50 hover:border-gray-400 cursor-pointer duration-300 ease-out
  }
}